<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diallo's Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Diallo Amadou</a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <header id="about" class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container text-center">
            <h1>Diallo Amadou</h1>
            <p class="lead">Computer Science Student</p>
        </div>
    </header>

    <section id="projects" class="container my-5">
        <h2 class="text-center mb-5">Projects</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Classroom Management System</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, repellat dicta accusantium
                            suscipit iste ad ab illo sunt pariatur, incidunt similique nobis rem officia eligendi
                            dolorem asperiores dolores voluptas non.</p>
                        <a href="#">More infos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Python Bot </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, debitis deserunt
                            repellendus pariatur commodi autem, maxime tempora ullam, molestias dicta laudantium! Quam
                            dicta voluptatum reprehenderit animi labore nulla quisquam fugiat..</p>
                        <a href="#">More infos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <header id="about">
        <div class="content">
            <h1>Diallo AMadou</h1>
            <p>Computer Science Student at Ray Integrated College </p>
            <p>
                I'm a graduate computer science student with interests in web development and cybersecurity . I'm
                always looking to expand my skills and work on new projects.
            </p>
            <p>
                Also I enjoy playing Football , video games and watching Animes . I also like to stay up to date on the
                latest tech news and and everything related to Technology (IT).
            </p>
        </div>
    </header>

    <section id="projects">
        <h2>Projects</h2>

        <div class="project">
            <h3>Chatbot</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto itaque eaque laboriosam, debitis minus libero atque commodi cum. Unde at sed voluptates recusandae cum maxime earum! Nam blanditiis ad nulla?</p>

    </section>

    < <!-- Skills section -->
        <div class="skills">
            <h3>Skills</h3>
            <ul>
                <li>Python</li>
                <li>JavaScript</li>
                <li>Java</li>
                <li>Html</li>
                <li>Css</li>
            </ul>
            <ul>
                <li>Web Development</li>
                <li>Ethical hacking</li>
            </ul>
        </div>

        </div>
        </header>




        <section id="education">
            <h2>Education</h2>
            <h3>Ray Integrated College affiliated to Bangalore North University</h3>
            <p>Bachelor of in Computer Application </p>

           

        </section>

        <!-- Experience -->
        <section id="experience">

            <h2>Experience</h2>

          

            <h3> Intern at YesTechies</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates assumenda nobis, ratione odit rem
                sint vitae minima! Culpa architecto error explicabo, repudiandae fuga tempora obcaecati, repellat
                voluptate rem recusandae aperiam.</p>

        </section>




        <footer id="contact" class="bg-light py-5">
            <div class="container text-center">
                <h3>Contact</h3>
                <p>dialload561@gmail.com</p>
                <p>+918657367635</p>
                <div class="social-icons">
                    <a href="https://github.com/2xdiallo"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nihil, placeat a dolor aut expedita accusantium maxime cumque perferendis quasi odit accusamus excepturi omnis rem vero molestiae natus voluptatem molestias?</a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





</body>

</html>